<ul>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">components</a>
        <div class="dropdown-content">
            <a href="/nav-components">navbars</a>
            <a href="/headings">headings</a>
            <a href="/buttons">buttons</a>
        </div>    
    </li>
    
    
</ul>
