<h1 class="title">{{title}}</h1>
<nav>
    {{>navbar}}
</nav>
<div class="btn-container">
    <div class="square">
        <button class="square-main">Button</button>
        <button class="square-inverted">Button</button>
        <button class="bw-gradient">Button</button>
        <button class="left-gradient">Button</button>
        <button class="right-gradient">Button</button>
        <button class="angled-gradient">Button</button>
    </div>
</div>