<h1>{{title}}</h1>
<nav>
    {{>navbar}}
</nav>

<h2>Drop Caps experiments</h2>
<div>
    <p><span id="heading1">O</span>ne idea to deal with drop caps is to place the first letter of a sentence within a span tag, and target the span with css. This way we can set a custom color and font size for the first letter drop cap.</p>
    <hr>
</div>
<div>
    <p><span id=heading2>A</span>nother idea, implemented the same way, is to set a background color of the first letter, as if to put it in a box</p>
    <hr>
</div>
<div>
    <p class="fancy">
        <span>This Title has Lines for Decorations</span>
    </p>
    <hr>
</div>