<h1>{{title}}</h1>
    <nav>
    {{> navbar}}
    </nav>

<h2> 1. A simple navbar with grey background and dark grey links</h2>
<nav>
  {{> navbar}}
</nav>
  <pre>
      <code>
          /* main nav bar style */
nav {
  background-color: rgb(238,238,238);
  padding-right: 5%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

nav ul li {
  
  list-style: none;
  padding: 0;
  float: left;
  padding-left: 20px;
}

nav ul li a {
  color: #555;
  text-decoration: none;
  font-size: 20pt;
}

nav ul li a:active {
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: bold;
}


li.dropdown {
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #888;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #333;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
      </code>
  </pre>

  <h2>2. Same, with items aligned to the left side</h2>
  <nav>
      {{> navbarLeftAligned}}
  </nav>
  give the ul a class like this:
  <pre>
      <code>
        /* ul.left-aligned */
    .left-aligned {
        justify-content: start;
    }
      </code>
  </pre>

  <h2>3. Next: Invert the colorscheme</h2>
  <nav class="inverted-colors left-aligned">
      {{> navbar}}
  </nav>

  for this I just: 
  <pre>
      <code>
        .inverted-colors {
            background-color: #555;
        }

        .inverted-colors a {
            color: rgb(238,238,238);
        }
      </code>
  </pre>

  <h2>4. incorportate a text logo</h2>
  <nav>
      {{> navbarWLogo}}
  </nav>

  <pre data-lang="HTML">
      
      // give the li with the logo, a class of logo
        
        .logo {
            margin-right: auto;
            font-size: 20pt;
            color: #555;
        }
      </code>
  </pre>

  <h2>Swap the logo and the list.</h2>

  <nav>
      {{>navbarLeftAlignedWLogo}}
  </nav>

  <pre>
      <code>
        .logo-right {
            margin-left: auto;
            font-size: 20pt;
            color: #555;
        }
      </code>
  </pre>