body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



/* main nav bar style */
nav {
  background-color: rgb(238,238,238);
  padding-right: 5%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

nav ul li {
  
  list-style: none;
  padding: 0;
  float: left;
  padding-left: 20px;
}

nav ul li a {
  color: #555;
  text-decoration: none;
  font-size: 20pt;
}

nav ul li a:active {
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: bold;
}


li.dropdown {
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #888;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #222;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #333;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* nav bar sub-styles */
.left-aligned {
  justify-content: start;
}


/* inverted colorscheme nav */

.inverted-colors {
  background-color: #555;
}

.inverted-colors a {
  color: rgb(238,238,238);
}

pre {
  background-color: #222;
  color: white;
  font-family: monospace;
}



.logo {
  margin-right: auto;
  font-size: 20pt;
  color: #555;
}

.logo-right {
  margin-left: auto;
  font-size: 20pt;
  color: #555;
}





